<div class="ui two column center aligned grid segment">
  <div class="column">
    <div class="ui large header">
      <i class="user icon"></i>
    </div>
    <h3 class="ui header">
      {{ member.firstName }} {{ member.lastName }}
    </h3>
  </div>
  <div class="column">
    <div class="ui huge header">
      <i class="heartbeat icon huge"></i>
    </div>
    <h2 class="ui header">
      BMI
    </h2>
  </div>
</div>