{{#each assessments}}
  <table class="ui nine column celled table">
    <thead>
      {{> assessment-header}}
    </thead>
    <tbody>
      {{> assessment-row}}
    </tbody>
  </table>
  <h4 class="ui header">
    Comments
  </h4>
  <form class="ui form" action="/editcomment/{{id}}" method="POST">
    <div class="ui field">
      <textarea rows="2" name="comment">{{comment}}</textarea>
    </div>
    <button class="ui blue submit button">
      Update
    </button>
  </form>
{{/each}}