<table class="ui ten column celled table">
  <thead>
    {{> assessment-header-with-delete}}
  </thead>
  <tbody>
    {{#each assessments}}
      {{> assessment-row-with-delete}}
    {{/each}}
  </tbody>
</table>