<table class="ui celled table">
  <thead>
    <tr>
      <th>Target Date</th>
      <th>Target Weight</th>
    </tr>
  </thead>
  <tbody>
    {{#each goals}}
      <tr>
        <td>{{dateString date}}</td>
        <td>{{weight}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

