{{> menu id="dashboard"}}

<section class="ui segment">
  {{> memberinfo}}
  {{> assessmentdivider}}
  {{> assessment-table}}
  {{> addassessment}}
  {{> goaldivider}}
  {{> listgoals}}
  {{> addgoal}}
</section>