{{> welcomemenu }}

<section class="ui center aligned middle aligned two column grid segment">
  <div class="column">
    <header class="ui header">BMI Tracker</header>
    <p>
      Fill in your assessments week by week and track your BMI.
      Trainers will comment on your progress and encourage your to keep going!
    </p>
    <p>
      Sign up or login...
    </p>
  </div>
  <div class="column">
    <img class="ui image" src="https://cdn.glitch.com/23eaa72d-b6e1-4ff2-8ec5-43e28a7d8872%2Fsport-and-fitness-icons.jpg?1532553981354">
  </div>

</section>