{{> trainermenu id="trainerassessment"}}

<section class="ui segment">
  {{> memberinfo}}
  <section class="ui segment">
    {{> assessmentdivider}}
    {{> assessment-table-comment}}
  </section>
  {{> goaldivider}}
  {{> listgoals}}
</section>